# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# SQLite database files
*.db
*.db-journal

# macOS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Windows specific
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux specific
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Binary output directories
bin/
dist/

# Dependency directories (if using vendor)
vendor/

# Log files
*.log

# Backup book files
example/backups/*

!mfw-books-db.exe
