{{define "home"}}
{{template "top" .}}

{{if .Content}}
  {{$books := .Content}}

  <table class="books">
    <thead>
      <tr class="header">
        <th colspan="8"><span class="count">{{len .Content}}</span></th>
      </tr>
      <tr>
        <th class="isbn" width="1%"><a href="/sort/isbn" {{if eq .SortField "isbn"}}class="current-sort"{{end}}>ISBN</a></th>
        <th class="status" width="1%"><a href="/sort/status" {{if eq .SortField "status"}}class="current-sort"{{end}}>Status</a></th>
        <th class="title" width="20%"><a href="/sort/title" {{if eq .SortField "title"}}class="current-sort"{{end}}>Title</a></th>
        <th class="author" width="20%"><a href="/sort/author" {{if eq .SortField "author"}}class="current-sort"{{end}}>Author</a></th>
        <th class="series" width="20%"><a href="/sort/series" {{if eq .SortField "series"}}class="current-sort"{{end}}>Series</a></th>
        <th class="rating" width="1%"><a href="/sort/rating" {{if eq .SortField "rating"}}class="current-sort"{{end}}>Rating</a></th>
        <th class="genre" width="20%"><a href="/sort/genre" {{if eq .SortField "genre"}}class="current-sort"{{end}}>Genre</a></th>
        <th class="link" width="1%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{range $books}}
      <tr id="b_{{.ISBN}}">
        {{if .IsException}}
        <td class="isbn exception {{if eq $.SortField "isbn"}}current-sort{{end}}">{{.ISBN}}</td>
        <td class="exception" colspan="6 {{if eq $.SortField "status"}}current-sort{{end}}">{{.ExceptionReason}}</td>
        <td class="link exception {{if eq $.SortField "status"}}current-sort{{end}}">
          <details>
            <summary>Links</summary>
            <a title="Goodreads" href="{{.GetLinkGoodreads}}" target="_blank">GR</a>
            <br/>
            <a title="OpenLibrary" href="{{.GetLinkOpenLibrary}}" target="_blank">OL</a>
            <a title="LibraryThing" href="{{.GetLinkLibraryThing}}" target="_blank">LT</a>
            <a title="Waterstones" href="{{.GetLinkWaterstones}}" target="_blank">WS</a>
          </details>
        </td>
        {{else}}
        <td class="isbn {{if eq $.SortField "isbn"}}current-sort{{end}}"><a href="/books/edit/{{.ISBN}}">{{.ISBN}}</a></td>
        <td class="status {{if eq $.SortField "status"}}current-sort{{end}}"><span title="{{.Status}}" class="status-icon status-icon-{{.StatusIcon}}">{{.GetStatusLetter}}</span></td>
        <td class="title {{if eq $.SortField "title"}}current-sort{{end}}"><a href="/books/edit/{{.ISBN}}">{{.Title}}</a></td>
        <td class="author {{if eq $.SortField "author"}}current-sort{{end}}">{{.GetAuthorSortHtmlDisplay}}</td>
        <td class="series {{if eq $.SortField "series"}}current-sort{{end}}">{{.GetSeriesSort}}</td>
        <td class="rating {{if eq $.SortField "rating"}}current-sort{{end}}" title="{{.Rating}} out of 5">
          {{if .Rating}}
          {{$rating := .Rating}}
          {{range $i := For 5}}
          <span class="star {{if lt $i $rating}}filled{{end}}">&starf;</span>
          {{end}}
          {{end}}
        </td>
        <td class="genre {{if eq $.SortField "genre"}}current-sort{{end}}">{{.GetGenreHtmlDisplay}}</td>
        <td class="link">
          <details>
            <summary>Links</summary>
            <a title="Google Books" href="{{.GetLinkGoogleBooksView}}" target="_blank">GB</a>
            {{if .ID}}
            <a title="Google Books API" href="{{.GetLinkGoogleBooksJson}}" target="_blank">JS</a>
            {{end}}
            <a title="Goodreads" href="{{.GetLinkGoodreads}}" target="_blank">GR</a>
            <br/>
            <a title="OpenLibrary" href="{{.GetLinkOpenLibrary}}" target="_blank">OL</a>
            <a title="LibraryThing" href="{{.GetLinkLibraryThing}}" target="_blank">LT</a>
            <a title="Waterstones" href="{{.GetLinkWaterstones}}" target="_blank">WS</a>
          </details>
        </td>
        {{end}}
      </tr>
      {{end}}
    </tbody>
  </table>
{{else}}
  <h1>There are no books in your collection.</h1>
{{end}}

{{template "base" .}}
{{end}}
